@media (max-width: 1300px) {
  .greeting {
    display: none;
  }

  .drag-area {
    height: auto;
  }

  .taskCard {
    overflow-x: scroll;
    width: 100%;
    flex-direction: row;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .dragAreaEmpty {
    width: calc(100% - 50px) !important;
  }

  .boardContent {
    flex-direction: column;
  }
}

@media (max-width: 1150px) {
  .prio p {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .prio p {
    font-size: 20px;
  }

  .addTaskSplit {
    flex-direction: column;
    align-items: center;
  }

  .addTaskPortion {
    width: 80%;
  }

  .textRequired {
    display: none;
  }

  .contactHeadlineContainer {
    flex-direction: column;
    height: fit-content;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    max-width: 560px;
    margin: 100px 16px 0px 16px;
    flex: 1;
  }

  .contactsBlueLine {
    display: none;
  }

  .contactsBlueLineVertical {
    border: 3px solid #29abe2;
    width: 90px;
  }

  .contentSubContainer {
    width: 100%;
    align-items: center;
  }

  .summaryBoardMain {
    margin: 24px 16px 24px 16px;
  }

  .headerBoard {
    flex-direction: column;
  }

  .headerBoradMoblie {
    display: flex;
    justify-content: space-between;
  }

  .addTaskBoardMobile {
    background-image: url(/assets/icons/plusAddTaskMobile.png);
    width: 40px;
    height: 40px;
  }

  .AddTaskButton {
    display: none;
  }

  .findTaskInput,
  .searchBarDiv {
    width: 100%;
  }
}

@media (max-width: 900px) {
  body {
    flex-direction: column-reverse;
  }

  header {
    max-width: 100%;
  }

  .logoMedia {
    background-image: url(../assets/img/Capa\ 1.svg);
    width: 58px;
    height: 58px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 40px;
  }

  .headline {
    display: none;
  }

  .helpLinkDropDown {
    display: block;
  }

  .helpIcon {
    display: none;
  }

  .grow {
    max-width: 100%;
    overflow-y: unset;
  }

  .navBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    flex-direction: row;
    padding: 0;
    z-index: 999;
  }

  .LogoNavImg {
    display: none;
  }

  .widthFull {
    flex-direction: row;
  }

  .navBarMenu {
    flex-direction: row;
    margin: 0;
    justify-content: center;
  }

  .mobileNoShow {
    display: none;
  }

  .menuLinkDiv {
    width: 20%;
    height: 60px;
    border-radius: 8px;
  }

  .menuLink {
    flex-direction: column;
    margin: 0;
  }

  .filler {
    height: 70px;
  }

  .addTaskPortion {
    width: 100%;
    gap: 20px;
  }

  .inputSubContainerAddTask {
    max-width: 100%;
  }

  .inputAddTask {
    max-width: 100%;
  }

  .drag-area {
    height: auto;
  }

  .boardContent {
    flex-direction: column;
  }

  .prio p {
    font-size: 18px;
  }

  .headlineAddTaskWindow b {
    font-size: 40px;
  }

  .addTaskSecDiv {
    padding: 0;
  }

  .addTaskDiv {
    padding: 0;
  }
}

@media (max-width: 720px) {
  .taskCardLargeContent {
    gap: 16px;
    max-width: 396px;
  }

  .taskCardLarge {
    width: 396px;
    padding: 32px 24px 32px 24px;
    gap: 0;
    margin: 16px;
  }

  .categoryCardLarge {
    padding: 4px 16px 4px 16px;
    font-size: 16px;
    line-height: 0;
  }

  .titleCardLarge {
    font-size: 36px;
    line-height: 43.2px;
    font-weight: 700;
  }

  .descriptionCardLarge {
    font-size: 16px;
    line-height: 19.2px;
  }

  .dueDateCardLarge {
    font-size: 16px;
    line-height: 19.2px;
  }

  .assignedToCardLarge {
    font-size: 16px;
  }

  .subtasksLarge {
    font-size: 16px;
    line-height: 19.2px;
  }

  .headerSubtasks {
    font-size: 16px;
    line-height: 19.2px;
  }

  .subtaskClickButton {
    padding: 6px;
  }
}

@media (max-width: 650px) {
  .userIcon {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  header {
    height: 80px;
  }

  .logoMedia {
    width: 32px;
    height: 39px;
  }

  .toDoDisplay,
  .doneDisplay {
    width: 46%;
    height: 110px;
  }

  .middleRow {
    height: 110px;
  }

  .lowerRowSubContainer {
    width: 30%;
    height: 110px;
  }

  .summaryBoardContainer {
    height: fit-content;
    gap: 16px;
    width: fit-content;
    min-width: 1px;
  }

  .toDoDisplay,
  .doneDisplay {
    width: 46%;
    height: 110px;
  }

  .middleRow {
    height: 110px;
    gap: 20px;
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  .lowerRowSubContainer {
    width: 30%;
    height: 110px;
  }

  .summaryBoardContainer {
    height: fit-content;
    gap: 16px;
    width: fit-content;
    min-width: 1px;
  }

  .contactHeadlineContainer {
    max-width: 355px;
  }

  .editIconContainer {
    width: 40px;
    height: 40px;
  }

  .doneIconSummary {
    width: 18px;
  }

  .editIconSummary {
    height: 18px;
  }

  .toDoDoneAmount,
  .deadlineAmount,
  .lowerRowAmount {
    font-size: 47px;
  }

  .deadlineDate {
    font-size: 16px;
  }

  .toDoDone,
  .lowerRowType {
    font-size: 14px;
  }

  .deadlineUrgencyStatusIcon {
    width: 40px;
    height: 40px;
  }

  .urgentIcon {
    width: 24px;
  }
}

@media (max-width: 400px) {
  .taskCardLarge {
    flex: 1;
    width: 270px;
    padding: 16px;
    gap: 0;
    margin: 16px;
  }

  .taskCardLargeContent {
    max-height: 80%;
  }

  .subtaskClickDiv {
    gap: 4px;
  }
}
