@media (max-width: 1300px) {
  .greeting {
    display: none;
  }
}

@media (max-width: 1150px) {
  .prio p {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .prio p {
    font-size: 20px;
  }

  .addTaskSplit {
    flex-direction: column;
    align-items: center;
  }

  .addTaskPortion {
    width: 80%;
  }

  .textRequired {
    display: none;
  }

  .contactHeadlineContainer {
    flex-direction: column;
    height: fit-content;
    align-items: flex-start;
    gap: 8px;
    max-width: 560px;
    margin: 100px 16px 0px 16px;
    flex: 1;
  }

  .contactsBlueLine {
    display: none;
  }

  .contactsBlueLineVertical {
    border: 3px solid #29abe2;
    width: 90px;
  }

  .contentSubContainer {
    width: 100%;
  }

  .summaryBoardMain {
    margin: 24px 16px 24px 16px;
  }
}

@media (max-width: 900px) {
  body {
    flex-direction: column-reverse;
  }

  header {
    max-width: 100%;
  }

  .logoMedia {
    background-image: url(../assets/img/Capa\ 1.svg);
    width: 58px;
    height: 58px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 40px;
  }

  .headline {
    display: none;
  }

  .helpLinkDropDown {
    display: block;
  }

  .helpIcon {
    display: none;
  }

  .grow {
    max-width: 100%;
    overflow-y: unset;
  }

  .navBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    flex-direction: row;
    padding: 0;
    z-index: 999;
  }

  .LogoNavImg {
    display: none;
  }

  .widthFull {
    flex-direction: row;
  }

  .navBarMenu {
    flex-direction: row;
    margin: 0;
    justify-content: center;
  }

  .mobileNoShow {
    display: none;
  }

  .menuLinkDiv {
    width: 20%;
    height: 60px;
    border-radius: 8px;
  }

  .menuLink {
    flex-direction: column;
    margin: 0;
  }

  .filler {
    height: 70px;
  }

  .addTaskPortion {
    width: 100%;
    gap: 20px;
  }

  .inputSubContainerAddTask {
    max-width: 100%;
  }

  .inputAddTask {
    max-width: 100%;
  }

  .drag-area {
    height: auto;
  }

  .taskCard {
    overflow-x: scroll;
    width: 100%;
    flex-direction: row;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .boardContent {
    flex-direction: column;
  }

  .prio p {
    font-size: 18px;
  }

  .headlineAddTaskWindow b {
    font-size: 40px;
  }

  .addTaskSecDiv {
    padding: 0;
  }

  .addTaskDiv {
    padding: 0;
  }
}
