body {
  display: flex;
  background-color: #f6f7f8;
  font-family: Inter;
}

.editOverlayButtonContainer {
  display: flex;
  gap: 25px;
  padding-top: 18px;
}

.overlayDeleteButton {
  border: 1px solid #2a3647;
  background-color: white;
  color: #2a3647;
  transition: 0.1s;
  height: 55px;
  width: 113px;
  border-radius: 8px;
  font-size: 21px;
  font-family: Inter;
  cursor: pointer;
}

.overlayDeleteButton:hover {
  color: #29abe2;
  border: 2px solid #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.overlaySaveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: #2a3647;
  color: white;
  font-weight: 700;
  transition: 0.1s;
  height: 55px;
  width: 113px;
  border-radius: 8px;
  font-size: 21px;
  font-family: Inter;
  cursor: pointer;
}

.overlaySaveButton:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.addContactCancelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 126px;
  height: 56px;
}

.addContactCancelButton:hover img {
  filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(700%) hue-rotate(170deg) brightness(100%) contrast(90%);
}

.createContactButtonOverlay {
  width: 214px;
  height: 56px;
}