body {
  display: flex;
  background-color: #f6f7f8;
  font-family: Inter;
}

.editOverlayButtonContainer {
  display: flex;
  justify-content: flex-end;
  width: 95%;
  gap: 25px;
  padding-top: 18px;
}

.addTaskButtonContainer {
  display: flex;
  justify-content: center;
}

.overlayDeleteButton {
  border: 1px solid #2a3647;
  background-color: white;
  color: #2a3647;
  transition: 0.1s;
  height: 55px;
  width: 113px;
  border-radius: 8px;
  font-size: 21px;
  font-family: Inter;
  cursor: pointer;
}

.overlayDeleteButton:hover {
  color: #29abe2;
  border: 2px solid #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.overlaySaveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: #2a3647;
  color: white;
  font-weight: 700;
  transition: 0.1s;
  height: 55px;
  width: 113px;
  border-radius: 8px;
  font-size: 21px;
  font-family: Inter;
  cursor: pointer;
}

.overlaySaveButton:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.addContactCancelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 126px;
  height: 56px;
}

.addContactCancelButton:hover img {
  filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(700%)
    hue-rotate(170deg) brightness(100%) contrast(90%);
}

.createContactButtonOverlay {
  width: 214px;
  height: 56px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 16px;
  background-color: rgba(42, 54, 71, 1);
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 8px 0;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.dropDownLink {
  color: rgba(205, 205, 205, 1);
  padding: 8px 16px 8px;
  font-size: 16px;
  text-decoration: none;
}

.dropDownLink:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(47, 68, 99);
}

/* test section for dropbox in Assigned to */
.dasNervt {
  transform: none !important;
  opacity: 1 !important;
}

#fakeInputArrow {
  background-image: url(./assets/icons/arrow_drop_down.png);
  min-width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -26px;
}

select:required:invalid {
  color: rgb(209, 209, 209);
}

option {
  color: black;
}

.addIcon {
  background-image: url(./assets/icons/add.svg);
  min-width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -26px;
}

.imgInInput {
  display: flex;
  align-items: center;
  width: 100%;
}

.divieder {
  background-color: rgb(209, 209, 209);
  width: 1px;
  min-height: 100%;
}

.hide {
  display: none;
}

.addTaskSplit {
  display: flex;
}

.addTaskPortion {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.inputSubContainerAddTask {
  width: 90%;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.rotate {
  transform: rotate(-180deg);
}

.dropdownContent {
  flex-direction: column;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: 300px;
  overflow-x: auto;
}

.inDropdown {
  display: flex;
  justify-content: space-between;
  margin: 4px;
  gap: 8px;
}

.contactName {
  display: flex;
  align-items: center;
  flex: 1;
}

.contactInitialsExtraSmall {
  font-size: 12px;
  background-color: rgba(147, 39, 255, 1);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  color: #ffffff;
  border: 2px solid white;
}

.inputAddTask {
  border-radius: 10px;
  border: 1px solid rgb(191, 191, 191);
  outline: none;
  font-size: 20px;
  padding: 13px 0px;
  width: 100%;
}

.inputAddTask::placeholder {
  text-indent: 16px;
}

.inputHeader {
  display: flex;
}

.inputHeader p {
  margin: 0;
  font-size: 20px;
}

.star {
  color: #ff8090;
}

.prioDiv {
  display: flex;
  justify-content: space-between;
}

.prio {
  border-radius: 10px;
  border: 1px solid rgb(191, 191, 191);
  background-color: #fff;
  outline: none;
  font-size: 20px;
  display: flex;
  gap: 8px;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.prio:hover {
  cursor: pointer;
}

.prioSvg {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.prioUrgentColor {
  background-image: url(./assets/icons/urgentColor.svg);
}

.prioUrgentColorDiv {
  background-color: #ff3d00;
  color: white;
}

.prioUrgentWhite {
  background-image: url(./assets/icons/urgentWhite.svg);
}

.prioMediumColor {
  background-image: url(./assets/icons/mediumColor.svg);
}

.prioMediumWhite {
  background-image: url(./assets/icons/mediumWhite.svg);
}

.prioMediumColorDiv {
  background-color: #ffa800;
  color: white;
}

.prioLowColor {
  background-image: url(./assets/icons/lowColor.svg);
}

.prioLowWhite {
  background-image: url(./assets/icons/lowWhite.svg);
}

.prioLowColorDiv {
  background-color: #7ae229;
  color: white;
}
/* end of test */
